body {
    background-color: blanchedalmond;
}

h1, p {
    text-align: center;
}

p {
    font-size: 2rem;
    color: rgb(80, 62, 78);
    font-style: italic;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto ;
}

img {
    width: 50%;
}

button {
    background-color: pink;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}
