body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: rgb(100, 73, 73);
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    color: #645656;
    background-color: #ddd1d1;
}

.country-cell {
    font-weight: bold;
}