body {
    background-color: azure;
}

h1 {
    color: rgb(27, 1, 1);
    text-align: center;
}

.title {
    font-weight: bold;
    color: rgb(52, 5, 5);
    background-color: white;
    font-size: 0.8em;
}